.btn-outline-secondary {
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
  padding: 0.75rem 1.25rem;
}

#bootstrap-overrides.forecastCard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  height: 215px;
  word-wrap: break-word;
  background-color: #007bff !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem;
}
